$extraBigScreen: 2500px;

.body {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  & .content {
    padding: 15px 15px;
    & .label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    & .destination {
      font-size: 12px;
      font-weight: 200;
      display: flex;
      align-items: center;
      & form {
        flex: 15;
        & input {
          width: 100%;
          border: none;
          padding: 5px 0px;
          font-weight: 300;
          &:focus {
            outline: none;
            font-weight: 300;
          }
          &::placeholder {
            font-weight: 300;
          }
        }
      }
      & .clear {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: $extraBigScreen) {
  .body {
    & .content {
      padding: 30px;
      margin-bottom: 20px;
      & .label {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      & .destination {
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
}
