.body {
  width: 100%;
}

.label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 200;
}

.destination {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

.line {
  height: 0.1px;
  width: 100%;
  background-color: black;
  margin-bottom: 15px;
}

.date {
  flex: 1;
}

.icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
