$extraBigScreen: 2500px;

.body {
  width: 100%;
  & .label {
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 200;
  }
  & .info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    & .value {
      flex: 1;
    }
    & .icon {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  & .line {
    height: 0.1px;
    width: 100%;
    background-color: black;
    margin-bottom: 15px;
  }
}

@media (min-width: $extraBigScreen) {
  .body {
    & .content {
      & .label {
        font-size: 14px;
        margin-right: 80px;
        margin-bottom: 10px;
      }
      & .value {
        font-size: 20px;
      }
      & .info {
        margin-bottom: 10px;
      }
    }
  }
}
