$mediumScreenTextSize: 43px;
$extraScreenTextSize: 70px;

$extraBigScreen: 2500px;

.content {
  margin: 0px 50px;
}

@media (min-width: $extraBigScreen) {
  .content {
    margin: 50px 100px;
  }
}

.text1 {
  font-size: $mediumScreenTextSize;
}

.text2 {
  font-size: $mediumScreenTextSize;
}

@media (min-width: $extraBigScreen) {
  .text1 {
    font-size: $extraScreenTextSize;
  }

  .text2 {
    font-size: $extraScreenTextSize;
  }
}

.text3 {
  font-size: 80px;
}

@media (min-width: $extraBigScreen) {
  .text3 {
    font-size: 130px;
  }
}

.color {
  color: white;
}
