$mediumScreenTextSize: 43px;
$extraScreenTextSize: 70px;

$bigScreen: 1200px;
$extraBigScreen: 2500px;

.content {
  margin: 0px 50px;
}

.text1 {
  font-size: $mediumScreenTextSize;
}

.text2 {
  font-size: $mediumScreenTextSize;
}

.text3 {
  font-size: 80px;
}

.color {
  color: white;
}

@media (min-width: $bigScreen) {
  .content {
    margin: 30px 50px;
  }
}

@media (min-width: $extraBigScreen) {
  .content {
    margin: 150px 100px;
  }
  .text1 {
    font-size: $extraScreenTextSize;
  }
  .text2 {
    font-size: $extraScreenTextSize;
  }
  .text3 {
    font-size: 130px;
  }
}
