.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  & .sidebar_menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70%;
    background-color: white;
    flex-direction: column;
    z-index: 1;
    display: flex;
    & .header {
      display: flex;
      justify-content: end;
      padding: 15px;
      font-size: 12px;
      align-items: center;
      & .text {
        margin-right: 5px;
      }
      & .icon {
        display: flex;
        align-items: center;
      }
    }
    & .body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 15px;
      font-size: 14px;
      & .top {
        flex: 1;
        & li {
          display: flex;
          padding: 8px 0px;
          & .icon {
            margin-right: 10px;
          }
        }
      }
      & .bottom {
        flex: 1;
        display: flex;
        justify-content: end;
        flex-direction: column;
        & li {
          display: flex;
          padding: 8px 0px;
          & .icon {
            margin-right: 10px;
          }
        }
      }
    }
    & .footer {
      padding: 15px;
      font-size: 14px;
      & li {
        display: flex;
        & .icon {
          margin-right: 10px;
        }
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f1f3f4;
}

@media screen and (min-width: 768px) {
  .sidebar {
    & .sidebar_menu {
      width: 55%;
      & .header {
        font-size: 18px;
        padding: 25px;
        & .text {
          margin-right: 10px;
        }
      }
      & .body {
        padding: 25px;
        font-size: 20px;
        & .top {
          & li {
            padding: 12px 0px;
            & .icon {
              margin-right: 15px;
            }
          }
        }
        & .bottom {
          & li {
            padding: 12px 0px;
            & .icon {
              margin-right: 15px;
            }
          }
        }
      }
      & .footer {
        padding: 25px;
        font-size: 20px;
        & li {
          & .icon {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
