$extraBigScreen: 2500px;

.content {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 10px 40px 0px 40px;
  font-weight: 100;
  & .city_information {
    padding: 0px 30px 0px 20px;
    & .place {
      margin-bottom: 5px;
      font-weight: 400;
    }
    & .date {
      font-size: 14px;
      font-weight: 200;
    }
  }
  & .temperature {
    font-size: 50px;
  }
}

@media (min-width: $extraBigScreen) {
  .content {
    margin: 20px 80px 0px 80px;
    & .city_information {
      padding: 0px 50px 0px 30px;
      & .place {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 300;
      }
      & .date {
        font-size: 20px;
        font-weight: 100;
      }
    }
    & .temperature {
      font-size: 80px;
    }
  }
}
