.body {
  max-height: 300px;
  max-width: 78%;
  background-color: white;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 10px 3px #dbdada;
  -webkit-box-shadow: 1px 1px 10px 3px #dbdada;
  overflow: auto;
  margin: 5px;
  padding: 15px 15px 10px 5px;
  border-radius: 3px;
  & .content {
    border-radius: 3px;
    & .location {
      display: flex;
      margin-bottom: 10px;
      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
      }
      & .information {
        & .label {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 2px;
        }
        & .description {
          font-size: 12px;
          font-weight: 200;
        }
      }
    }
    & .airports {
      display: flex;
      display: flex;
      margin-bottom: 10px;
      & .icon_free {
        padding: 0px 10px;
      }
      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px 0px 0px;
      }
      & .information {
        & .label {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 2px;
          & span {
            font-size: 16px;
            font-weight: 200;
          }
        }
        & .description {
          font-size: 12px;
          font-weight: 200;
          display: flex;
          align-items: center;
        }
      }
      &:hover {
        color: #82cdc2;
        & .information {
          & .label {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 2px;
            color: #82cdc2;
            & span {
              font-size: 16px;
              font-weight: 200;
              color: #82cdc2;
            }
          }
          & .description {
            font-size: 12px;
            font-weight: 200;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .body {
    max-height: 500px;
    max-width: 78%;
  }
}

// @media screen and (min-width: 767px) {
//   .body {
//     max-height: 500px;
//     max-width: 78%;
//     padding: 10px 5px;
//   }
// }
