$extraBigScreen: 2500px;

.body {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  margin: 25px 50px;
  display: flex;
  align-items: center;
}

@media screen and(min-width: $extraBigScreen) {
  .content {
    margin: 50px 100px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-weight: 100;
  flex: 1;
  & .blog{
    margin-right: 30px;
  }
  & .contacts{
    margin-right: 20px;
  }
}

@media screen and(min-width: $extraBigScreen) {
  .menu {
    display: flex;
    align-items: center;
    & img {
      width: 35px;
      height: 35px;
      margin-left: 30px;
    }
  }
}

.logo {
  flex: 1;
}
