$smallScreen: 767px;

.body {
  overflow: auto;
  display: flex;
  & .current_date {
    flex: 1;
    & .img {
      height: 100%;
      width: 100%;
      background-size: cover;
      & .layer {
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 31px;
        & .text {
          padding: 20px;
        }
      }
    }
  }
  & .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    & .header {
      display: flex;
      & .reset {
        flex: 1;
        display: flex;
        & .text {
          margin-left: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          font-weight: 400;
        }
        & .icon {
          display: flex;
          align-items: center;
        }
      }
      & .close {
        flex: 1;
        display: flex;
        justify-content: end;
        & .text {
          margin-right: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          font-weight: 400;
        }
        & .icon {
          display: flex;
          align-items: center;
        }
      }
    }
    & .body {
      display: flex;
      flex-direction: column;
      & .seat_type {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300px;
      }
      & .save {
        margin-top: 25px;
        font-size: 14px;
        font-weight: 400;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #82cdc2;
      }
    }
  }
}

.line {
  height: 0.1px;
  width: 100%;
  margin: 15px 0px 10px 0px;
  background-color: black;
}

.line_grey {
  height: 0.5px;
  width: 100%;
  margin: 15px 0px 10px 0px;
  background-color: #d3d3d3;
}

@media screen and (min-width: $smallScreen) {
  .body {
    & .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 25px 30px 30px 30px;
      & .header {
        margin-bottom: 5px;
      }
    }
  }
}
