.body {
  display: flex;
  flex-direction: column;
  & .content {
    margin: 20px;
    & .flight_duration {
      width: 100%;
      border-radius: 3px;
      box-shadow: 1px 1px 10px 3px #dbdada;
      -webkit-box-shadow: 1px 1px 10px 3px #dbdada;
      & .info {
        & .line_delimiter {
          background-color: #dbd8d8;
          height: 0.2px;
          margin: 0px 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .body {
    display: flex;
    & .content {
      margin: 40px;
      & .flight_duration {
        border-radius: 3px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .body {
    margin-top: 80px;
    display: flex;
    align-items: center;
    & .content {
      width: 90%;
      display: flex;
      flex-direction: row;
      box-shadow: 1px 1px 10px 3px #dbdada;
      -webkit-box-shadow: 1px 1px 10px 3px #dbdada;
      margin: 0px;
      & .flight_duration {
        flex: 1.4;
        box-shadow: none;
      }
      & .flight_additional_info {
        flex: 2;
        display: flex;
      }
    }
  }
}
