$mediumScreen: 768px;
$extraBigScreen: 2500px;

.body {
  display: flex;
  padding: 10px 0px 10px 10px;
  & .text {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 12px;
  }
  & .icon {
    display: flex;
    align-items: center;
  }
}

@media screen and(min-width: $mediumScreen) {
  .body {
    padding: 20px 0px 20px 20px;
    & .text {
      font-size: 14px;
    }
  }
}
