.header {
  display: flex;
  background-color: #82cdc2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  & .companies {
    flex: 2;
    padding: 0px 0px 0px 15px;
    display: flex;
    align-items: center;
    & .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: white;
    }
  }
  & .price {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 15px 8px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
  }
}
